/*creek.css*/
html, body {
  margin: 0px;
}

#navbar {
  width: 100%;
  display: inline;
  position: fixed;
  font-family: 'Dosis', sans-serif;
  font-size: 15pt;
  text-align: center;
  background-color: #607F1F;
}

#navbar-left {
  margin: left: 10px;
  float: left;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navbar-right {
  margin: right: 10px;
  float: right;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 1px;
}

.navbar-item {
  margin: 15px;
}

@keyframes hoverlink {
  from {
    border-bottom: 2px solid white;
  }
  to {
    border-bottom: 2px solid gold;
  }
}

.navbar-item a {
  text-decoration: none;
  color: black;
}
.navbar-item a:hover {
  animation-name: hoverlink;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


.is-active a {
  margin: 15px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}


#logo {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#logoimg {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#hero {
  background-image: url('pics/5.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

#heropic {
  object-fit: cover;
  width: 100%;
}
h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 60pt;
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
#herotext {
   background: rgba(220,220,220, 0.6);
  padding: 30px;
  border: 2px solid black;
  max-width: 50%;
}

#herotext p {
  font-family: 'Dosis', sans-serif;
  font-size: 18pt;
  color: black;
  text-align: center;
}

#maintext {
  margin: 0px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 17.5pt;
  background-color: #6B8E23;
  width: 100%;
  padding-bottom: 20px;
  display: inline-block;
  }

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 20pt;
  font-weight: 600;
  text-align: center;
}

.mtgrid {
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  padding-bottom: 20px;
}

#im1 {
  grid-area: 1/2/2/3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#im2 {
  grid-area: 2/2/3/3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mtgrid img {
  max-width: 80%;
  object-fit: cover;
  border: 2px solid green;
}

#visit {
  text-align: center;
  margin-bottom: 2%;
}

#visit p {
  margin-left: 15%;
  margin-right: 15%;
}

#use {
  grid-area: 1/3/2/4;
}

#goal {
  grid-area: 2/3/3/4;
}

#panel {
  grid-area: 1/3/3/4;
  background: url(pics/rivpic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.panelim {
  border-radius: 10%;
  width: 100%;
  min-height: 50%;
  max-height: 75%;
  max-width: 100%;
  object-fit: cover;
}

#sitecont {
  margin: 50px;
  text-align: center;
  margin: 30px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 25pt;
}

#navbar-bottom {
  position: fixed;
  border-top: 3px solid black;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  font-size: 15pt;
  text-align: center;
  background-color: white;
}

#siteimages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.siteims {
  max-height: 45%;
  max-width: 25%;
  margin: 10px;
}

#siteheader {
  font-size: 30pt;
}

#placeholderb {
  min-width: 1px;
}

#datagrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
}

#displayarea {
  grid-area: 1/2/6/4;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  font-size: 18pt;
  font-family: 'Dosis', sans-serif;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  min-height: 0;

}
#buttonarea {
  grid-area: 1/1/6/2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 33%;
}

.button {
  display: flex;
  width: 45%;
  margin: 10px;
  border-radius: 10px;
  background-color: orange;
  justify-content: center;
  align-items: center;
  font-size: 18pt;
  font-family: 'Dosis', sans-serif;
  box-shadow: 0px 9px black;
}

.button:active {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.button:hover {

}

#displaytitle {
  background-color: white;
}

#displayword {
  margin: 30px;
  margin-top: 0px;
}

#displaymedia {
  max-width: 100%;
  background-color: white;
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  margin-bottom: 10px;
  overflow-x: hidden;

}

.displayitem{
  text-align: center;
  margin: 10px;
  max-width: 100%;
}

.displayitem iframe{
  width: 100%;
}

.displayitem img{
  width: 100%;
}

#fieldgrid {
  display: grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-template-rows: auto;
  width: 100%;
}

.fieldbuttons {
  text-align: center;
  margin: 10px;

}

#fielddisplay {
  text-align: center;
  margin: 10px;
  border: 5px solid black;
  border-radius: 10px;
}

#switchbuttons {
  float: right;
}

.switchbutton {
  display: flex;
  height: 130px;
  width: 130px;
  background-color: blue;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}

.c1 {
  background: url(pics/leafp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.c2 {
  background: url(pics/fish.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#duck {
max-height: 100px;
max-width: 100px;
}

h6 {
  width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.separator {
  width: 20%;
  margin-top: 50px;
  color: #256d7b;
}

#about {
  text-align: center;
  width: 100%;
}

#about p {
  display: inline-block;
  width: 70%;
  margin-top: 2%;
}

#filebar {
  display: inline-block;
  width: 73%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(220,220,220, 0.6);
  border-radius: 4px;
  padding: .5%;
}

#filebar i {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  font-size: 30pt;
  clear: right;
  border-right: 2px solid black;
  padding-right: .9%;
}

#filebar li {
  list-style-type: none;
  margin-right: 2%;
  float: left;

}

#filebar li:hover {
  opacity: .6;
}

#filebar a{
  text-decoration: none;
  color: black;
}

#filebar ul {
  position: relative;
  top: -12px;
}
