/*creek.css*/
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

html, body {
  margin: 0px;
  background-color: var(--body-color);
}

:root {
  --light-green: #7FFF00;
  --body-color: #7aa329;
  --grey: rgba(220,220,220, .6);
}

#navbar {
  width: 100%;
  position: fixed;
  top: 0px;
  font-family: 'Dosis', sans-serif;
  font-size: 15pt;
  text-align: center;
  background-color: var(--body-color);
  z-index: 3;
  box-shadow: 0px 1px 10px;
}

#navbar-left {
  margin: left: 10px;
  float: left;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navbar-right {
  margin: right: 10px;
  float: right;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 1px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20pt;
}

.navbar-item {
  margin: 15px;
}

@keyframes hoverlink {
  from {
    border-bottom: 2px solid #607F1F;
  }
  to {
    border-bottom: 2px solid #ADFF2F;
  }
}

.navbar-item a {
  text-decoration: none;
  color: black;
}
.navbar-item a:hover {
  animation-name: hoverlink;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


.is-active a {
  margin: 15px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}


#logo {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

#logoimg {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 60pt;
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 20pt;
  font-weight: 600;
  text-align: center;
}

.c1 {
  background: url(pics/leafp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.c2 {
  background: url(pics/fish.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h6 {
  width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.separator {
  width: 20%;
  margin-top: 50px;
  color: #256d7b;
}

.computer-hidden {
  display: none;
}

.expandb {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30pt;
  margin-top: 1%;
  margin-bottom: 1%;
  color: var(--light-green);
  cursor: pointer;
}

#menu {
  display: none;
}

.bottom-left-sticky {
  position: fixed;
  bottom: 15px;
  left: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px;
  background-color: #b5c594;
  display: inline;
  padding: 10px;
  font-family: 'Dosis', sans-serif;
  font-size: 16pt;
  cursor: pointer;
  z-index: 100;
}

#navbar-mobile a {
  display: block;
  font-family: 'Dosis', sans-serif;
  font-size: 16pt;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-top: 8px;
}

#navbar-mobile {
  text-align: center;
  transition: width 1s;
}

#navbar-mobile i {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
   /* transition: width 1s;  */
}

#navbar-mobile div {
  transition: width 1s;
}

#navbar-mobile a {
  transition: width 1s;
}

@media (max-width: 768px) {
  #navbar-mobile {
    display: block;
  }

  #navbar-right {
    display: inline-block;
  }
  #menu {
    display: inline-block;
    font-size: 25pt;
    margin-left: 10px;
    cursor: pointer;
  }
  #navbar-left .navbar-item, .is-active {
    display: none;
  }
  #navbar-left {
    justify-content: flex-start;
    font-size: 20pt;
  }
  #maintext {
    font-size: 13pt;
  }
  #about p{
    width: 95%;
  }

  h1 {
    font-size: 20pt;
  }
  #herotext {
    max-width: 75%;
    width: 75%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 3px;
  }
  #herotext p {
    font-size: 14pt;
  }
  #hero {
    background-size: cover;
  }
  #visit p{
    width: 95%;
    margin-left: 2.5%;
  }
  .mobile-hidden {
    display: none;
  }

  .mobile-hidden::after {
    content: "...";
  }
  .mtgrid {
    display: block;
    width: 95%;
    margin-left: 2.5%;
  }
  #im1, #im2 {
    display: none;
  }
}
